@charset "UTF-8";
/* Scss Document */
.profil {
  /*bandeau d'entête*/ }
  .profil__picture {
    /*image de profil*/
    display: flex;
    width: 20vw;
    flex-direction: column;
    justify-content: center; }

/*Mise en forme des icones*/
.icones {
  /*icones loisirs*/ }
  .icones__gauche {
    /*Icones dans un cercle*/
    margin: 0 1vw;
    font-size: 5vw;
    /*taille icones*/
    padding: 1vm;
    /*permet d'avoir de l'espace dans le cercle*/ }
