@charset "UTF-8";
/* Scss Document */
header {
  display: flex;
  /*utilisation de flexblox*/
  height: 300px;
  flex-direction: column; }

.profil {
  /*bandeau d'entête*/
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .profil__picture {
    /*image de profil*/
    width: 150px;
    height: 150px;
    margin: 0; }

/*partie droite du bandeau*/
.presentation {
  width: 100%;
  height: 100px; }
  .presentation h1 {
    font-size: 50px;
    margin: 0;
    text-align: center; }
  .presentation h2 {
    text-align: center;
    margin: 0; }

/*correction du nom si écran plus petit que 473px*/
@media screen and (max-width: 473px) {
  header {
    height: 350px; }

  .presentation {
    height: 150px; } }
/*bloc général des deux colonnes*/
.informations {
  margin: 0; }
  .informations__container {
    /*colonne de gauche-fin*/
    flex-direction: column-reverse;
    /*colonne de droite -Début*/ }
    .informations__container .col_gauche {
      width: 100%; }
      .informations__container .col_gauche h1 {
        margin: 0; }
      .informations__container .col_gauche__infos {
        /*text d'info partie gauche*/
        margin: auto;
        text-align: center;
        font-size: 20px;
        line-height: 22px; }
        .informations__container .col_gauche__infos .apropos {
          /*cas "A propos" qui est plus grande*/
          display: inline;
          text-align: center; }
    .informations__container .loisir {
      height: 5em;
      line-height: 5em;
      margin: auto;
      padding: 0 7vw;
      display: flex;
      justify-content: space-between; }
    .informations__container .conteneur_loisir {
      position: relative;
      bottom: 0;
      width: 100%; }
    .informations__container .col_droite {
      width: 100%;
      margin: 0; }
      .informations__container .col_droite__title {
        margin: 0 2em 1em 2em; }
      .informations__container .col_droite table {
        /*contenu du tableau*/
        width: 100%; }
        .informations__container .col_droite table tr .cellule_gauche {
          width: 15vw;
          margin: 1em 2em 0 2em; }
        .informations__container .col_droite table tr .cellule_droite {
          margin-right: 5vw; }
          .informations__container .col_droite table tr .cellule_droite h1 {
            text-align: center; }
          .informations__container .col_droite table tr .cellule_droite h2 {
            text-align: center; }
          .informations__container .col_droite table tr .cellule_droite p {
            text-align: center; }
      .informations__container .col_droite .recommandation {
        width: 100%; }
        .informations__container .col_droite .recommandation td {
          text-align: center; }

/*Mise en forme des icones*/
.icones {
  /*icones loisirs*/
  display: inline; }
  .icones__gauche {
    /*Icones dans un cercle*/
    font-size: 8vw;
    /*taille icones*/
    margin: 0 1vw;
    padding: 0.2em;
    /*permet d'avoir de l'espace dans le cercle*/
    border: 3px solid black; }
