@charset "UTF-8";
/* Scss Document */
/*Polices de style*/
/*pour les appeler :

    font-family: 'Baloo Bhaina 2', cursive;

    font-family: 'Karla', sans-serif; (400 et 700)

    font-family: 'Didact Gothic', sans-serif;

    font-family: 'Baloo 2', cursive; (400 regular,500 medium, 600 semi-bold, 700 bold)

*/
/*enlever le surlignage de "mark"*/
mark {
  background-color: transparent; }

header {
  display: flex;
  /*utilisation de flexblox*/
  height: 250px; }

.profil {
  /*bandeau d'entête*/
  width: 30%;
  height: 250px;
  background-color: #1E88E5; }
  .profil__picture {
    /*image de profil*/
    display: block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #000204;
    margin: 25px auto 25px auto; }

/*partie droite du bandeau*/
.presentation {
  width: 70%; }
  .presentation h1 {
    font-size: 50px;
    margin: 2em 0 0 8vw;
    font-family: "Karla", sans-serif;
    text-shadow: 1px 1px 0.5px black; }
    .presentation h1 mark {
      color: #1E88E5; }
  .presentation h2 {
    font-size: 20px;
    margin: 0 0 0 10vw;
    font-family: "Karla", sans-serif; }
  .presentation h2::before {
    content: "Devel";
    border-bottom: 1.2px solid #1E88E5;
    /*text-decoration: underline $yellow;* --> espacement trop proche du texte*/ }

/*bloc général des deux colonnes*/
.informations {
  margin: 0; }
  .informations__container {
    /*colonne de gauche*/
    display: flex;
    /*colonne de droite*/ }
    .informations__container .col_gauche {
      width: 30%;
      background-color: #1E88E5;
      position: relative; }
      .informations__container .col_gauche h1 {
        /*titres surlignés en noir*/
        text-align: center;
        text-transform: uppercase;
        color: #1E88E5;
        background-color: black;
        font-family: "Karla", sans-serif;
        line-height: 1.5em;
        margin: 0; }
      .informations__container .col_gauche__infos {
        /*text d'info parie gauche*/
        margin: 2em 1em;
        text-align: justify;
        font-size: 17px;
        font-family: "Baloo 2", cursive;
        font-weight: 500;
        line-height: 20px; }
        .informations__container .col_gauche__infos .apropos {
          /*cas "A propos" qui est plus grande*/
          height: 35em;
          text-align: justify; }
    .informations__container .loisir {
      height: 6em;
      line-height: 6em;
      margin: 0;
      padding: 0 2vw;
      display: flex;
      justify-content: space-between;
      background-color: #1E88E5; }
    .informations__container .conteneur_loisir {
      position: absolute;
      bottom: 0;
      width: 100%; }
    .informations__container .col_droite {
      width: 60%;
      margin: 0 0 0 5vw; }
      .informations__container .col_droite__title {
        border-bottom: 2px solid #1E88E5;
        font-family: "Karla", sans-serif;
        font-weight: 700;
        margin: 1em 0 1em 0;
        display: flex;
        align-items: center; }
        .informations__container .col_droite__title h2 {
          /*titres des rubriques*/
          display: inline-block;
          font-size: 30px; }
      .informations__container .col_droite table {
        /*contenu du tableau*/
        margin-bottom: 2em; }
        .informations__container .col_droite table td {
          vertical-align: top; }
          .informations__container .col_droite table td .cellule_gauche {
            width: 15vw;
            display: flex;
            margin-top: 20px; }
            .informations__container .col_droite table td .cellule_gauche p {
              margin: 0 0 0 1.5em;
              font-family: "Baloo 2", cursive;
              font-weight: 600;
              line-height: 20px; }
          .informations__container .col_droite table td .cellule_droite h1 {
            margin: 0.5em 0 0.3em 0;
            font-size: 30px;
            font-family: "Baloo 2", cursive;
            font-weight: 600;
            line-height: 1em; }
          .informations__container .col_droite table td .cellule_droite h2 {
            margin: 0.3em 0 0.3em 0;
            font-size: 20px;
            font-family: "Baloo 2", cursive;
            font-weight: 500;
            line-height: 1em; }
          .informations__container .col_droite table td .cellule_droite p {
            margin: 0.3em 0 0.3em 0;
            font-size: 15px;
            font-family: "Baloo 2", cursive;
            font-weight: 400;
            line-height: 1em; }
      .informations__container .col_droite .recommandation {
        width: 100%; }
        .informations__container .col_droite .recommandation td {
          width: 50%;
          text-align: left; }
        .informations__container .col_droite .recommandation h1 {
          margin: 0.5em 0 0.3em 0;
          font-size: 25px;
          font-family: "Baloo 2", cursive;
          font-weight: 600;
          line-height: 20px; }
        .informations__container .col_droite .recommandation h2 {
          margin: 0.3em 0 0.3em 0;
          font-size: 20px;
          font-family: "Baloo 2", cursive;
          font-weight: 500; }
        .informations__container .col_droite .recommandation p {
          margin: 0.3em 0 0.3em 0;
          font-size: 15px;
          font-family: "Baloo 2", cursive;
          font-weight: 400; }

/*Mise en forme des icones*/
.icones {
  /*icones loisirs*/
  display: inline;
  justify-content: space-between; }
  .icones__gauche {
    /*Icones dans un cercle*/
    margin: 0 1vw;
    font-size: 3em;
    /*taille icones*/
    padding: 0.1em;
    /*permet d'avoir de l'espace dans le cercle*/
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    /* permet d'enlever ce qui dépasse*/ }
  .icones__droites {
    /*icones de droite*/
    font-size: 30px;
    color: #1E88E5;
    margin-right: 10px; }

.dot {
  /*puces*/
  font-size: 10px;
  margin-top: 0.3em;
  color: #1E88E5; }
