/* Scss Document */
$clr_primary:#1196C5;
$font_style_titre:  Arial, "sans-serif";
$font_style_texte: "sans-serif";


/*enlever le surlignage de "mark"*/
mark{
    background-color: transparent;
}
header {
    display: flex; /*utilisation de flexblox*/
    height: 250px;
}
.profil{ /*bandeau d'entête*/
    width: 250px;
    height: 234px;
    background-color: $clr_primary;
    
    &__picture{ /*image de profil*/
    width: 150px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
        box-shadow: 0px 0px 20px darken($clr-primary, 50%);
    margin: 50px 50px 20px 50px; /* 30px pour permettre d'intégrer la barre de navigation*/
    }
}
/*Options du navigateur*/
.nav{
    padding-top: 10px;
    background-color: $clr_primary;
    
    &__ul{
        padding: 0;
        margin: 0;
        display: inline-flex;
        justify-content: center;
              }
    &__link{
        list-style-type: none; /*enlève les puces*/
        font-size: 16px;
        margin: 0 10px 0 10px;
        
        
                }
    &__link a{ /*permet de mettre les lien en noir et sans surlignage*/
        text-decoration: none;
        color: black;
    }
    
}/*partie droite du bandeau*/
.presentation{
    
    width: 100%;
    background-color: antiquewhite;
       
     & h1 {
        font-size: 50px;
        margin: 75px 75px auto auto;
        font-family: $font_style_titre;
         text-indent: 50px;
         text-shadow: 1px 1px 0.5px black;
         
         
        & mark{
            color: $clr_primary;
        }
    }
    & h2{
        font-size: 20px;
        margin: 0 0 50px 0;
        font-family: $font_style_titre;
        text-indent: 60px;
        & mark{
            /*text-decoration: underline $yellow;* --> espacement trop proche du texte*/
            border-bottom: 1.2px solid $clr_primary;
        }
                     }
}
/*bloc général des deux colonnes*/
.informations{
     margin: 0;
    &__container{
        /*colonne de gauche*/
       display: flex;
        @media screen and (max-width: 720px){
            flex-direction: column-reverse;
        }
        & .col_gauche {
            width: 250px;
            background-color: $clr-primary;
            
            
            & h1{ /*titres surlignés en noir*/
                
                text-align: center;
        text-transform: uppercase;
        color: $clr_primary;
        background-color: black;
        font-family: $font_style_titre;
            }
            &__infos{ /*text d'info parie gauche*/
                 margin: 10px ;
                text-align: justify;
                font-size: 17px;
                & .apropos{/*cas "A propos" qui est plus grande*/
                    height: 750px;
                }
                & .loisir_pict{
                    height: 50px;
                    width: auto;
                    margin: 5px;
                    border-radius: 50%;
                    color: $clr-primary;
                }
            }
            
        }
        /*colonne de droite*/
        & .col_droite{
            width: 80%;
            padding: 20px 50px;
            flex:1;
                &__title{
            border-bottom:2px solid $clr-primary ;
            height: 70px;
        
        &__logo{
            display: inline-block;
            height: 30%;
            width: auto;
            margin-right: 2%;
            color: $clr-primary;
        }
        
        & h2{
            display: inline-block;
            font-size: 30px;
                
        }
    }
    & table{
        & td{
            text-align: left;
           & h1{
                font-size: 25px;
            }
            & h2{
                font-size: 20px;
            }
            & p{
                font-size: 15px;
            }
            
        }
        
        }
        & ul{
                width: 9vw;
            vertical-align: top;
            padding: 15px;
            list-style-type: none; /*enlève les puces*/
            
            }
    & .recommandation{
        width: 100%;
            & td{
               
                width: 50%;
                text-align: left;
            }
    }
            }
            
        }
    }
    
/*Mise en forme des icones*/
.icones{  /*icones loisirs*/
    display: inline;
    &__gauche{ 
    font-size: 50px;
    margin: 0 5px;
    text-align: center;
        border: 1px solid black;
        border-radius: 50%;
    }
    } 
.icones_droites{ /*icones de droite*/
    font-size: 40px;
    color: $clr-primary;
}
.dot{ /*puces*/
    font-size:10px;
    
}

/*body{
    display: flex;
    flex-wrap: wrap-reverse;
}
.perso{
    background-color: $yellow;
    display: block;
    width: 300px;
    height: auto;
}
.profil{
    height: 150px;
    
    &__pict{
    display: block;
    width: 100px;
    height: 120px;
    overflow: hidden;
    border-radius: 50px;
    margin: 15px auto 15px auto;
}
}

.conteneur {
    & h1{
    text-align: center;
    text-transform: uppercase;
    color: $yellow;
    background-color: black;
    font-family: $font_style_titre;
    
    }
    &.propos{
        height: 800px;
    }
}
.infos{
    margin: 10px 10% 0 10% ;
    text-align: justify;
    font-size: 20px;

    & .loisir_pict{
        
        width: 25%;
        height: 25%;
        border: solid black 2px;
        border-radius: 50%;
        margin: 10px 2% 10px 2%;
    
    }
}
.pro{
    display: block;
    width: 1000px;
    background-color:#F9E6C2;
    padding: 4%;
    }
.presentation {
    & h1 {
    font-size: 50px;
        margin: auto 10px 0 auto;
        font-family: $font_style_titre;
    & strong{
        color: $yellow;
    }
    }
    & h2{
        font-size: 20px;
        margin: 0 0 50px 0;
        border-bottom:2px solid $yellow ;
        font-family: $font_style_titre;
                     }
}
.informations{
    &__title{
        display: block;
        border-bottom:2px solid $yellow ;
         height: 90px;
        
        &__logo{
            display: inline-block;
            height: 30%;
            width: auto;
            margin-right: 2%;
            color: $yellow;
        }
        
        & h2{
            display: inline-block;
            font-size: 30px;
                
        }
    }
    & table{
        & td{
            text-align: left;
           & h1{
                font-size: 25px;
            }
            & h2{
                font-size: 20px;
            }
            & p{
                font-size: 15px;
            }
            
        }
        
        }
        & ul{
                width: 9vw;
            vertical-align: top;
            padding: 15px;
            & .ligne1{
                list-style-image: url("/img/dot-circle-regular.svg");
                
                                
            }
            & .ligne2{
                list-style-image: url("/img/circle-solid.svg");
            }
            }
    & .recommandation{
        width: 100%;
            & td{
               
                width: 50%;
                text-align: left;
            }
    }
}
*/







