/* Scss Document */
$clr_primary:#1E88E5;
$font_style_titre:  'Karla', sans-serif;
$font_style_texte: 'Baloo 2', cursive;

/*Polices de style*/
/*pour les appeler :

    font-family: 'Baloo Bhaina 2', cursive;

    font-family: 'Karla', sans-serif; (400 et 700)

    font-family: 'Didact Gothic', sans-serif;

    font-family: 'Baloo 2', cursive; (400 regular,500 medium, 600 semi-bold, 700 bold)

*/
/*enlever le surlignage de "mark"*/
mark{
    background-color: transparent;
}
header {
    display: flex; /*utilisation de flexblox*/
    height: 250px;
}
.profil{ /*bandeau d'entête*/
    width: 30%;
    height: 250px;
    background-color: $clr_primary;
    
    &__picture{ /*image de profil*/
        display: block;
        width: 200px;
        height: auto;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0px 0px 20px darken($clr-primary, 50%);
        margin: 25px auto 25px auto; 
    }
}
/*partie droite du bandeau*/
.presentation{
    
    width: 70%;
    
       
     & h1 {
        font-size: 50px;
        margin: 2em 0 0 8vw;
        font-family: $font_style_titre;
         text-shadow: 1px 1px 0.5px black;
         
         
        & mark{
            color: $clr_primary;
        }
    }
    & h2{
        font-size: 20px;
        margin: 0 0 0 10vw;
        font-family: $font_style_titre;
        
         }
    & h2::before{
            content:"Devel";
            border-bottom: 1.2px solid $clr_primary;  /*text-decoration: underline $yellow;* --> espacement trop proche du texte*/
        }
}
/*bloc général des deux colonnes*/
.informations{
     margin: 0;
    
    &__container{
        /*colonne de gauche*/
       display: flex;

        & .col_gauche {
            width: 30%;
            background-color: $clr-primary;
            position: relative;
           
                        
            
            & h1{ /*titres surlignés en noir*/
            
            text-align: center;
            text-transform: uppercase;
            color: $clr_primary;
            background-color: black;
            font-family: $font_style_titre;
            line-height: 1.5em;
            margin: 0;
                
            }
            &__infos{ /*text d'info parie gauche*/
                 margin: 2em 1em ;
                text-align: justify;
                font-size: 17px;
                font-family: $font_style_texte;
                font-weight: 500;
                line-height: 20px;
                & .apropos{/*cas "A propos" qui est plus grande*/
                    height: 35em;
                    text-align: justify;
                }
                                
            }   
        }  
        .loisir{
                    height: 6em;
                    line-height: 6em;
                    margin: 0;
                    padding: 0 2vw;
                    display: flex; 
                    justify-content: space-between;
                    background-color: $clr_primary;
            
                }
        .conteneur_loisir{
            position: absolute;
            bottom: 0;
            width: 100%
        }
        
        /*colonne de droite*/
        & .col_droite{
            width: 60%;
            margin: 0 0 0 5vw;
            
            
                &__title{
                    border-bottom:2px solid $clr-primary ;
                    font-family: $font_style_titre;
                    font-weight: 700;
                    margin: 1em 0 1em 0;
                    display: flex;
                    align-items: center;
                    
                    & h2{ /*titres des rubriques*/
                        display: inline-block;
                        font-size: 30px;    
        }
    }
    & table{ /*contenu du tableau*/
        margin-bottom: 2em;
        & td{
            vertical-align: top;
            
            & .cellule_gauche{
                width: 15vw;
                display: flex;
                margin-top: 20px;
                
                & p{
                    margin: 0 0 0 1.5em;
                    font-family: $font_style_texte;
                    font-weight: 600;  
                    line-height: 20px;
                }
             }
            & .cellule_droite{
                
                & h1{
                    margin: 0.5em 0 0.3em 0;
                    font-size: 30px;
                    font-family: $font_style_texte;
                    font-weight: 600;
                    line-height: 1em;
            }
                & h2{
                    margin: 0.3em 0 0.3em 0;
                    font-size: 20px;
                    font-family: $font_style_texte;
                    font-weight: 500;
                    line-height: 1em;
            }
                & p{
                    margin: 0.3em 0 0.3em 0;
                    font-size: 15px;
                    font-family: $font_style_texte;
                    font-weight: 400;
                    line-height: 1em;
                
            }
          }
        }
      }
        
    & .recommandation{
        width: 100%;
        
            & td{
               
                width: 50%;
                text-align: left;
            }
                 & h1{
                    margin: 0.5em 0 0.3em 0;
                    font-size: 25px;
                    font-family: $font_style_texte;
                    font-weight: 600;
                    line-height: 20px;
                     
            }
                & h2{
                    margin: 0.3em 0 0.3em 0;
                    font-size: 20px;
                    font-family: $font_style_texte;
                    font-weight: 500;
            }
                & p{
                    margin: 0.3em 0 0.3em 0;
                    font-size: 15px;
                    font-family: $font_style_texte;
                    font-weight: 400;
                
            }
    }
            }
            
        }
    }
    
/*Mise en forme des icones*/
.icones{  /*icones loisirs*/
    display: inline;
    justify-content: space-between;
    
        &__gauche{ /*Icones dans un cercle*/
            margin: 0 1vw;
            font-size: 3em; /*taille icones*/
            padding: 0.1em; /*permet d'avoir de l'espace dans le cercle*/
            text-align: center;
            vertical-align: middle;
            border: 2px solid black;
            border-radius: 50%;
            overflow: hidden; /* permet d'enlever ce qui dépasse*/
    }
        &__droites{ /*icones de droite*/
            font-size: 30px;
            color: $clr-primary;
            margin-right: 10px;
}
    } 

.dot{ /*puces*/
    font-size:10px;
    margin-top: 0.3em;
    color: $clr-primary;
    
}






