/* Scss Document */
$clr_primary:#1196C5;
$font_style_titre:  'Karla', sans-serif;
$font_style_texte: 'Baloo 2', cursive;

/*Polices de style*/
/*pour les appeler :

    
    font-family: 'Baloo Bhaina 2', cursive;

    font-family: 'Karla', sans-serif; (400 et 700)

    font-family: 'Didact Gothic', sans-serif;

    font-family: 'Baloo 2', cursive; (400 regular,500 medium, 600 semi-bold, 700 bold)



*/


/*enlever le surlignage de "mark"*/
mark{
    background-color: transparent;
}
header {
    display: flex; /*utilisation de flexblox*/
    height: 250px;
}
.profil{ /*bandeau d'entête*/
    width: 250px;
    height: 250px;
    background-color: $clr_primary;
    
    &__picture{ /*image de profil*/
    width: 150px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
        box-shadow: 0px 0px 20px darken($clr-primary, 50%);
    margin: 50px 50px 20px 50px; /* 30px pour permettre d'intégrer la barre de navigation*/
    }
}
/*Options du navigateur*/
.nav{
    background-color: $clr_primary;
    position: absolute;
    width: 250px;
    height: 25px;
    top: 233px;
    
    
    &__ul{ /*bloc des trois items*/
        display:flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
              }
    &__link{
        list-style-type: none; /*enlève les puces*/
        font-size: 20px;
        /*margin: 0 10px 0 10px;*/
        
        
                }
    &__link a{ /*permet de mettre les lien en noir et sans surlignage*/
        text-decoration: none;
        color: white;
        
    }
    
}/*partie droite du bandeau*/
.presentation{
    
    width: 100%;
    background-color: antiquewhite;
       
     & h1 {
        font-size: 50px;
        margin: 75px 75px auto auto;
        font-family: $font_style_titre;
         text-indent: 50px;
         text-shadow: 1px 1px 0.5px black;
         
         
        & mark{
            color: $clr_primary;
        }
    }
    & h2{
        font-size: 20px;
        margin: 0 0 50px 0;
        font-family: $font_style_titre;
        text-indent: 60px;
         }
    & h2::before{
            content:"Devel";
            border-bottom: 1.2px solid $clr_primary;  /*text-decoration: underline $yellow;* --> espacement trop proche du texte*/
        }
}
/*bloc général des deux colonnes*/
.informations{
     margin: 0;
    &__container{
        /*colonne de gauche*/
       display: flex;
        @media screen and (max-width: 720px){
            flex-direction: column-reverse;
        }
        & .col_gauche {
            width: 250px;
            background-color: $clr-primary;
                        
            
            & h1{ /*titres surlignés en noir*/
            margin-top: 0;
            text-align: center;
            text-transform: uppercase;
            color: $clr_primary;
            background-color: black;
            font-family: $font_style_titre;
                
            }
            &__infos{ /*text d'info parie gauche*/
                 margin: 10px ;
                text-align: justify;
                font-size: 17px;
                font-family: $font_style_texte;
                font-weight: 500;
                line-height: 20px;
                & .apropos{/*cas "A propos" qui est plus grande*/
                    height: 550px;
                    text-align: justify;
                }
                & .loisir{
                    display: flex; 
                    justify-content: space-between;
                    padding: 0;
                    margin: 0;
                }
                
            }   
        }
        /*colonne de droite*/
        & .col_droite{
            width: 60%;
            margin-left: 40px;
            
                &__title{
                    border-bottom:2px solid $clr-primary ;
                    height: 70px;
                    font-family: $font_style_titre;
                    font-weight: 700;
                    margin: 10px 0 10px 0;
                    & h2{ /*titres des rubriques*/
                        display: inline-block;
                        font-size: 30px;
                
        }
    }
    & table{ /*contenu du tableau*/
        & td{
            vertical-align: top;
            
            & .cellule_gauche{
                width: 150px;
                display: flex;
                margin-top: 20px;
                
                & p{
                    margin: 0 0 0 15px;
                    font-family: $font_style_texte;
                    font-weight: 600;  
                    line-height: 20px;
                }
             }
            & .cellule_droite{
                
                & h1{
                    margin: 20px 0 5px 0;
                    font-size: 30px;
                    font-family: $font_style_texte;
                    font-weight: 600;
                    line-height: 20px;
            }
                & h2{
                    margin: 5px 0 5px 0;
                    font-size: 20px;
                    font-family: $font_style_texte;
                    font-weight: 500;
            }
                & p{
                    margin: 5px 0 5px 0;
                    font-size: 15px;
                    font-family: $font_style_texte;
                    font-weight: 400;
                
            }
          }
        }
      }
        
    & .recommandation{
        width: 100%;
        
            & td{
               
                width: 50%;
                text-align: left;
            }
                 & h1{
                    margin: 20px 0 5px 0;
                    font-size: 25px;
                    font-family: $font_style_texte;
                    font-weight: 600;
                    line-height: 20px;
                     
            }
                & h2{
                    margin: 5px 0 5px 0;
                    font-size: 20px;
                    font-family: $font_style_texte;
                    font-weight: 500;
            }
                & p{
                    margin: 5px 0 5px 0;
                    font-size: 15px;
                    font-family: $font_style_texte;
                    font-weight: 400;
                
            }
    }
            }
            
        }
    }
    
/*Mise en forme des icones*/
.icones{  /*icones loisirs*/
    display: inline;
    
        &__gauche{ /*Icones dans un cercle*/
            font-size: 40px; /*taille icones*/
            margin: 0 5px;
            padding: 5px; /*permet d'avoir de l'espace dans le cercle*/
            text-align: center;
            border: 1px solid black;
            border-radius: 50%;
            overflow: hidden; /* permet d'enlever ce qui dépasse*/
    }
        &__droites{ /*icones de droite*/
            font-size: 30px;
            color: $clr-primary;
            margin-right: 10px;
}
    } 

.dot{ /*puces*/
    font-size:10px;
    margin-top: 4px;
    color: $clr-primary;
    
    
}

/*body{
    display: flex;
    flex-wrap: wrap-reverse;
}
.perso{
    background-color: $yellow;
    display: block;
    width: 300px;
    height: auto;
}
.profil{
    height: 150px;
    
    &__pict{
    display: block;
    width: 100px;
    height: 120px;
    overflow: hidden;
    border-radius: 50px;
    margin: 15px auto 15px auto;
}
}

.conteneur {
    & h1{
    text-align: center;
    text-transform: uppercase;
    color: $yellow;
    background-color: black;
    font-family: $font_style_titre;
    
    }
    &.propos{
        height: 800px;
    }
}
.infos{
    margin: 10px 10% 0 10% ;
    text-align: justify;
    font-size: 20px;

    & .loisir_pict{
        
        width: 25%;
        height: 25%;
        border: solid black 2px;
        border-radius: 50%;
        margin: 10px 2% 10px 2%;
    
    }
}
.pro{
    display: block;
    width: 1000px;
    background-color:#F9E6C2;
    padding: 4%;
    }
.presentation {
    & h1 {
    font-size: 50px;
        margin: auto 10px 0 auto;
        font-family: $font_style_titre;
    & strong{
        color: $yellow;
    }
    }
    & h2{
        font-size: 20px;
        margin: 0 0 50px 0;
        border-bottom:2px solid $yellow ;
        font-family: $font_style_titre;
                     }
}
.informations{
    &__title{
        display: block;
        border-bottom:2px solid $yellow ;
         height: 90px;
        
        &__logo{
            display: inline-block;
            height: 30%;
            width: auto;
            margin-right: 2%;
            color: $yellow;
        }
        
        & h2{
            display: inline-block;
            font-size: 30px;
                
        }
    }
    & table{
        & td{
            text-align: left;
           & h1{
                font-size: 25px;
            }
            & h2{
                font-size: 20px;
            }
            & p{
                font-size: 15px;
            }
            
        }
        
        }
        & ul{
                width: 9vw;
            vertical-align: top;
            padding: 15px;
            & .ligne1{
                list-style-image: url("/img/dot-circle-regular.svg");
                
                                
            }
            & .ligne2{
                list-style-image: url("/img/circle-solid.svg");
            }
            }
    & .recommandation{
        width: 100%;
            & td{
               
                width: 50%;
                text-align: left;
            }
    }
}
*/







